<h1 style="display: flex; justify-content: center; margin: 3% 0;">Weather check</h1>
<div style="width: 75%; margin: auto;">
  <div *ngFor="let weather of allWeather|async; trackBy: trackItem">
    <app-new-city
      [weatherDetails]="weather"
      (weatherAddEvent)="addWeather($event)">
    </app-new-city>
  </div>
  <div style="display: flex; align-items: baseline; justify-content: center;">
    <div>Weather in:</div>
    <mat-list role="list" >
      <mat-list-item role="listitem"  *ngFor="let weather of allWeather|async; let i = index">
        <ng-container *ngIf="weather.city !== ''">
          {{ i + 1 }}.
          {{ weather.city}}
          {{ weather.temperature}}
          {{ weather.units | measure}}
          {{ weather.status}}
        </ng-container>
      </mat-list-item>
    </mat-list>
  </div>
</div>
